@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Dancing+Script:wght@400;500;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Orbitron:wght@400;500;800&family=Pacifico&family=Rubik+Iso&family=Sacramento&family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Rubik+Vinyl&family=Rubik+Wet+Paint&display=swap");

/* 
font-family: "Creepster", cursive;
font-family: "Dancing Script", cursive;
font-family: "Libre Baskerville", serif;
font-family: "Orbitron", sans-serif;
font-family: "Pacifico", cursive;
font-family: "Rubik Iso", cursive;
font-family: "Sacramento", cursive;
font-family: "Satisfy", cursive;
font-family: 'Rubik Spray Paint', cursive;
font-family: 'Rubik Vinyl', cursive;
font-family: 'Rubik Wet Paint', cursive;
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 183, 183);
}

html {
  font-size: 10px; /*modifica el tamaño de referencia de la RAIZ (origin-16px) */
}

.contenedor {
  display: flex;
  background-image: url(./img/desktop-wallpaper-rainforest-list-rainforest-plants.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  text-align: center;
  flex-direction: column;
}
.titulo {
  font-family: "Orbitron", sans-serif;
  color: rgb(206, 102, 192);
  font-size: 5.5rem;
}

.tituloLista h2 {
  text-align: center;
  font-size: 5rem;
}

.listaPrincipal {
  text-align: center;
  list-style-type: circle;
  color: black;
}

.listaPrincipal a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
  font-size: 1.6rem;
}

.contenedorTexto {
  display: flex;
}

.texto {
  background-color: rgba(175, 174, 174, 0.582);
  padding: 2rem;
  width: 50%;
  font-size: 1.8rem;
  font-family: "Dancing Script", cursive;
}

.masTexto {
  background-color: rgba(219, 132, 132, 0.582);
  padding: 1.4rem;
  width: 50%;
  font-family: "Sacramento", cursive;
  font-size: 2rem;
}

h2 {
  font-family: "Dancing Script", cursive;
  color: rgb(48, 68, 177);
  font-style: normal;
  font-size: 2.5rem;
}

.lista {
  background-color: aqua;
  color: blue;
}

#piePagina {
  display: flex;
  flex-direction: row-reverse;
  font-weight: 900;
  justify-content: space-between;
}

#piePagina h3 {
  padding-top: 2rem;
  padding-left: 1rem;
  text-align: left;
  display: inline;
  width: 55%;
}

.irArriba {
  padding-top: 0.8rem;
  display: inline;
  width: 45%;
}

.flechaArriba {
  margin: 1rem;
  width: 1rem;
  display: inline-block;
}

/* ----------------------------------------------*/
/* Imagenes*/
/* -----------------------------------------------*/

.paginaImagenes {
  display: flex;
  flex-direction: column;
  grid-row-gap: 5px;
}

.headerImagenes {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(116, 112, 112, 0.616);
  border-top: solid 10px rgba(73, 72, 72, 0.6);
  border-right: solid 7px rgba(39, 19, 19, 0.61);
  border-bottom: solid 10px rgba(73, 72, 72, 0.4);
  border-left: solid 7px rgba(39, 19, 19, 0.61);
}

.headerImagenes h1 {
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.imagenes {
  display: grid;
  grid-template-areas:
    "h2  h2"
    "h3  h3"
    "img1  img2"
    "inicio  .";
}

.imagenes h2 {
  text-align: center;
  font-size: 2.5rem;
  grid-area: h2;
}

.imagenes h3 {
  text-align: center;
  font-size: 2rem;
  grid-area: h3;
}

.imagenesLlamas {
  display: inline;
  width: 100%;
  height: auto;
  text-align: center;
  grid-area: img1;
}

.imagenesLlamas2 {
  display: inline;
  width: 100%;
  height: auto;
  grid-area: img2;
}

.imagenes a {
  text-align: left;
  font-size: 1.5rem;
  padding: 1rem;
  grid-area: inicio;
}

.videos {
  display: grid;
  grid-template-areas:
    "titulo  titulo"
    "descripcion  descripcion"
    "aib  tutorial"
    "inicio  .";
}

.videos h2 {
  text-align: center;
  font-size: 2.5rem;
  grid-area: titulo;
}

.videos h3 {
  text-align: center;
  font-size: 2rem;
  grid-area: descripcion;
}

.videosBombeoMecanico {
  padding: 1rem;
  grid-area: aib;
}

.videosTutorial {
  padding: 1rem;
  grid-area: tutorial;
}

.videos a {
  text-align: left;
  font-size: 1.5rem;
  padding: 1rem;
  grid-area: inicio;
}

/* ----------------------------------------------*/
/* Listas*/
/* -----------------------------------------------*/

.paginaListas {
  display: flex;
  flex-direction: column;
  grid-row-gap: 5px;
}

.headerListas {
  margin: 1rem;
  padding: 1rem;
  background-color: rgba(116, 112, 112, 0.616);
  border-top: solid 10px rgba(73, 72, 72, 0.6);
  border-right: solid 7px rgba(39, 19, 19, 0.61);
  border-bottom: solid 10px rgba(73, 72, 72, 0.4);
  border-left: solid 7px rgba(39, 19, 19, 0.61);
}

.headerListas h1 {
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 5rem;
}

.contenedorListas {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.contenedorLD {
  margin: 1rem;
  padding: 1rem;
  height: 300px;
}

.contenedorLD h2 {
  text-align: left;
  font-size: 3.5rem;
}

.contenedorLD h3 {
  display: inline;
  text-align: left;
  font-size: 2.5rem;
}

.descripcionAib {
  display: inline;
}

.contenedorListas ul {
  padding: 2.5rem;
  line-height: 1.6rem;
}

.contenedorLO {
  margin: 1rem;
  padding: 1rem;
}

.contenedorLO h2 {
  text-align: left;
  font-size: 3.5rem;
}

.contenedorLO h3 {
  display: inline;
  text-align: left;
  font-size: 2.5rem;
}

.contenedorLista ol {
  padding: 2.5rem;
  line-height: 1.6rem;
}

.piePaginaListas {
  display: flex;
  flex-direction: row;
  font-weight: 900;
  justify-content: space-around;
}

.piePaginaListas a {
  text-align: left;
  font-size: 1.5rem;
}

.piePaginaListas {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}
