@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Dancing+Script:wght@400;500;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Orbitron:wght@400;500;800&family=Pacifico&family=Rubik+Iso&family=Sacramento&family=Satisfy&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&family=Rubik+Vinyl&family=Rubik+Wet+Paint&display=swap");

/* 
font-family: "Creepster", cursive;
font-family: "Dancing Script", cursive;
font-family: "Libre Baskerville", serif;
font-family: "Orbitron", sans-serif;
font-family: "Pacifico", cursive;
font-family: "Rubik Iso", cursive;
font-family: "Sacramento", cursive;
font-family: "Satisfy", cursive;
font-family: 'Rubik Spray Paint', cursive;
font-family: 'Rubik Vinyl', cursive;
font-family: 'Rubik Wet Paint', cursive;
 */

body {
  background-color: rgb(236, 183, 183);
}

.titulo {
  font-family: "Orbitron", sans-serif;
  color: rgb(131, 38, 21);
}

.encabezado h1 {
  color: rgb(206, 102, 192);
  background-color: aquamarine;
  background-image: url(./img/desktop-wallpaper-rainforest-list-rainforest-plants.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  text-align: center;
}

.tituloLista h2 {
  background-color: rgb(116, 218, 70);
  text-align: center;
}

.listaPrincipal {
  text-align: center;
  list-style-type: none;
  color: black;
  background-color: beige;
  background-image: url(./img/desktop-wallpaper-rainforest-list-rainforest-plants.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.listaPrincipal a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
  font-size: 1.6rem;
}

h2 {
  font-family: "Creepster", cursive;
  color: red;
  font-style: normal;
}

.lista {
  background-color: aqua;
  color: blue;
}

div p {
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
}

#piePagina {
  font-weight: 900;
}

.flechaArriba {
  width: 1rem;
  display: inline-block;
}
